ion-content ion-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

ion-input.number-verification {
  color: #004b40;
  font-weight: bold;
  font-size: 24px;
}

ion-input {
  box-shadow: 0 5px 5px #3535351a;
  background: #fafafa;
  height: 56px;
  font-size: 24px;
  color: #212121;
  border-radius: 5px;
  margin: 5px;

  --placeholder-color: #aaaaaa;
}
